// Codes By Mahdi Tasha
// Importing Part
@use "../global/colors" as colors;

// Styles
.advantage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {margin-right: 13px;}
  &__title {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 12px;
    color: rgba(18, 18, 18, .9);
  }
}