// Codes By Mahdi Tasha
// Importing Part
@use "../global/colors" as colors;
@use "../global/mixins" as mixins;

// Styles
.alert {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  margin-left: .5rem;
  margin-bottom: .5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  @include mixins.transition;

  &[data-opened="false"] {
    opacity: 0;
    transform: scale(.9);
  }

  &[data-opened="true"] {
    opacity: 1;
    transform: scale(1);
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__txt {
    color: rgba(18,18,18,.6);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 25px;
  }

  &__close-btn {
    padding: 1rem;
    border: none;
    background-color: colors.$dark;
    color: white;
  }
}

// Media Querys
@media (max-width: 991px) { .alert {right: .5rem;} }