// Codes By Mahdi Tasha
// Importing Part
@use "../global/colors" as colors;

// Styles
.breadcrumb {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  &__item {
    font-size: 11px;
    font-weight: 500;

    &:not(:first-of-type) {color: colors.$dark;}
    &:not(:last-of-type) {
      color: rgba(18,18,18,.6);
      &:after {
        content: '>';
        margin-left: 10px;
      }
    }
  }
}