// Codes By Mahdi Tasha
// Importing Part
@use '../global/colors' as colors;
@use '../global/mixins' as mixins;

// Styles Of Dropdown Component
.dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: colors.$dark;
  transform-origin: right top;
  @include mixins.transition;
  box-shadow: 0 0 30px rgba(0,0,0,.2);

  &__holder {
    display: none;
    position: relative;

    &[data-opened] {
      .dropdown {
        transform: scale(1);
        opacity: 1;
      }

      .dropdown__toggler {
        background-color: colors.$dark;
        color: white;
      }
    }

    &:not([data-opened]) {
      .dropdown {
        transform: scale(0);
        opacity: 0;
      }

      .dropdown__toggler {
         background-color: transparent;
         color: colors.$dark;
       }
    }
  }

  &__list {list-style: none;}
  &__toggler {
    width: 30px;
    height: 30px;
    border: 1px solid colors.$dark;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixins.transition;
  }

  &__btn {
    width: 100%;
    text-align: right;
    padding: 1rem;
    font-weight: 500;
    font-size: 12px;
    color: white;
    border: none;
    white-space: nowrap;

    &[data-selected = 'true'] {background-color: colors.$sale;}
    &[data-selected = 'false'] {background-color: colors.$dark;}
  }
}

// Media Querys
@media (max-width: 991px) { .dropdown__holder {display: block;} }