// Codes By Mahdi Tasha
// Importing Part
@use "../global/colors" as colors;

// Styles Of Home Page
.page--home {
  // Public Styles
  .discount-txt-span {color: colors.$sale;}

  // Styles Of First Section
  &__first-sect {
    &__grid-holder {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 32px;
      height: 500px;
      margin-bottom: 32px;
    }

    &__banner {
      grid-column: span 2;
      grid-row: span 2;
      padding: 1rem;
      background-color: colors.$gr-white;
      display: flex;
      align-items: center;
      justify-content: center;

      &__inner-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      &__inner-link {
        background-color: white;
        padding: 1rem;
        border-radius: 4px;
        transition: .3s;
        outline: 8px solid transparent;

        &:hover {outline-color: rgba(256,256,256, .6);}
        &__title {
          color: rgba(18, 18, 18, .4);
          margin-bottom: 14px;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          text-align: center;
        }

        &__subtitle {
          color: colors.$dark;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 22px;
          text-align: center;
        }
      }
    }

    &__accessories {grid-column: span 2;}
    &__women, &__men, &__accessories {
      background-color: colors.$gr-white;
      display: flex;
      align-items: center;
      justify-content: center;

      &__inner-link {
        background-color: white;
        padding: 1rem;
        border-radius: 4px;
        transition: .3s;
        outline: 8px solid transparent;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: colors.$dark;

        &:hover {outline-color: rgba(256,256,256, .6);}
      }
    }
  }

  // Styles Of Second And Third Section
  &__filter-btns-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__filter-btns-title {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: colors.$dark;
  }

  &__filter-btns-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__filter-btn {
    background-color: transparent;
    border: none;
    color: rgba(18, 18, 18, .6);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    &--active {color: colors.$dark;}
  }
  
  &__products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
    margin-bottom: 48px;
  }

  &__product-link {display: block;}
  &__product-img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  &__product-name {
    font-weight: 400;
    font-size: 14px;
    color: rgba(18, 18, 18, .6);
    margin-bottom: 12px;
  }

  &__product-price-and-score-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__product-price {
    color: colors.$dark;
    font-weight: 700;
    font-size: 14px;
  }

  &__products-see-more-btn {
    width: 100%;
    padding: 1rem;
    background-color: colors.$gr-white;
    border: none;
    color: rgba(18, 18, 18, .8);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
  }

  // Styles Of Fourth Section
  &__fourth-sect {
    &__banner-holder {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    &__banner {
      height: 260px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;

      &--1 {background-image: url('../../src/assets/img/home-page/fourth-section/img-1.jpg');}
      &--2 {background-image: url('../../src/assets/img/home-page/fourth-section/img-2.jpg');}
    }

    &__banner__link {
      background-color: white;
      padding: 1rem;
      border-radius: 4px;
      transition: .3s;
      outline: 8px solid transparent;
      display: block;

      &:hover {outline-color: rgba(256,256,256, .6);}
    }

    &__banner__inner-link__title {
      font-weight: 600;
      font-size: 12px;
      color: rgba(18, 18, 18, .6);
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 8px;
    }

    &__banner__inner-link__subtitle {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: colors.$dark;
      text-align: center;
    }
  }

  // Styles Of Fifth Section
}
