// Codes By Mahdi Tasha
// Forwarding All Scss Files Into One File
@forward "home";

// Some Public Styles For All Pages
.page {
  margin-top: calc(23px + 50px + 32px);

  section {margin-bottom: 97px;}
  &--opened section {animation: page-animations cubic-bezier(.4,0,.2,1) 3s forwards;}

  &__inner {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: .5rem;
  }
}

// Animation
@keyframes page-animations {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// Media Querys
@media (max-width: 991px) { .page section {margin-bottom: 20px;} }
@media (max-width: 527px) { .page {margin-top: calc(23px + 32px);} }